__pycache__/
*.pyc
*.pyo
*.egg-info/
.torch/
.venv/
outputs/*
outputs/
wandb/
.ruff_cache/
*.lock
inputs/*
inputs/
*.zip
*.pt
*.pth
*.ckpt
scripts/train_slurm.py
scripts/slurm_init.local.sh
examples/
.venv/
.venv/*
.venv_genmo/
.venv_sim/
*.mp4
*.avi
*.mkv
*.gif
*.onnx
*.bin
data/
dataset/
venv/
